{% extends 'uni_tasks_app/base.html' %}

{% block page_title %}
    Главная страница
{% endblock %}

{% block header_title %}
    Главная страница
{% endblock %}

{% block aside %}
    <nav class="aside-link">
        <a href="{% url 'jquery_test' %}">Тест Jquery</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="tasks">
        <h1>Список заданий:</h1>
        <div class="tasks-list">
            {% for i in numbers %}
                <a class="link-to-task" href="{% url 'task' i %}">Задание {{ i }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}